<!-- templates/partials/donations_form.html -->
<form action='/users/donations' method='POST'>
<input type='hidden' value='{{ user._id }}' name='user_id'>
<fieldset>
    <legend>{{ title }}</legend>
    <!-- ORG -->
    <p>
        <label for='organization'>Organization</label><br>
        <input type='text' name='organization'/>
    </p>
    
    <!-- CAUSE -->

    <select name='cause'>
        <option>Animal Welfare</option>
        <option>Arts & Culture</option>
        <option>Education</option>
        <option>Environment</option>
        <option>Global Health</option>
        <option>Homelessness</option>
        <option>Human Rights</option>
        <option>Medical Research</option>
        <option>Natural Disasters</option>
        <option>Wildlife Conservation</option>
        <option>Youth & Families</option>
    </select>

    <!-- AMOUNT $ -->
    <p>
        <label for='amount_usd'>$</label><br>
        <input type='number' name='amount_usd' />
    </p>
    <!-- NOTE -->
    <p>
        <label for='note'>Donation Note</label><br>
        <input type='text' name='note' />
    </p>
</fieldset>

<!-- BUTTON -->
<p>
    <button type='submit'>Save Donation</button>
</p>
</form>