<!-- templates/users_dashboard.html -->
{% extends 'base.html' %}

{% block content %}
<a href='/admin'>Back</a>
<h1>Hello, {{ user.firstName }}!</h1>
<h2>Your goal is to donate {{ user.impact }}% of your income to charity.</h2>
<p>Your annual income: ${{ user.income }}</p>

<!-- MAKE A DONATION -->
<button><a href='/donations/new'>Donate</a></button>

{% include 'partials/donations_form.html' %}

<p>User settings:</p>

<p><a href='/users/{{ user._id }}/edit'>Edit</a></p>

<!-- Delete button -->
<p><form method='POST' action='/users/{{ user._id }}/delete'>
    <button type='submit'>Delete Account</button>
</form></p>

{% endblock %}
