<!-- templates/users_dashboard.html -->
{% extends 'base.html' %}

{% block content %}
<a href='/admin'>Back</a>

<!-- USER WELCOME -->
<div id='welcome-block'>
    <h1>Hello, {{ user.firstName }}!</h1>
    <h2>Your goal is to donate {{ user.impact }}% of your income to charity.</h2>
    <p>Your annual income: ${{ user.income }}</p>
</div>

<!-- TO-DO: IMPACT BLOCK -->
<!-- List of the top areas of impact -->

<!-- MAKE A DONATION -->
<div id='CTA'>
    <h2>Donate!</h2>
</div>

<!-- DONATION FORM -->
<div id='donation-form'>
    {% include 'partials/donations_form.html' %}
</div>

<!-- TO-DO: SEE PREVIOUS DONATIONS (NOT WORKING) -->
<div id='all-donations'>
    {% for donation in donations %}
        {% include 'partials/donation.html' %}
    {% endfor %}
</div>

<div id='settings'>
    <p>User settings:</p>

    <p><a href='/users/{{ user._id }}/edit'>Edit</a></p>

    <!-- Delete button -->
    <p><form method='POST' action='/users/{{ user._id }}/delete'>
        <button type='submit'>Delete Account</button>
    </form></p>
</div>

{% endblock %}
